@import '../../colors';

.section_title {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  color: $primary-color;
}

.section_content {
  margin-top: 36px;
  font-size: 1.05rem;
  text-align: left;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: $primary-color;

  .hobbies {
    margin-top: 16px;

    .hobby {
      display: flex;
      align-items: center;

      .icon {
        height: 2.5rem;
        width: 2.5rem;
        display: block;
        box-sizing: border-box;
        margin-right: 1rem;

        em {
          font-size: 2rem;
        }
      }

      .hobby-description {
        height: 100%;
        overflow-wrap: break-word;
      }
    }
  }
}