@import '../../colors';

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  ul {
    display: flex;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color:  $light-color;
        font-size: .85em;
        padding: 10px 10px;
        &:hover {
          color: #333;
        }
        &.active {
          color: $dark-color;
          text-decoration: underline;
          font-weight: 600;
          pointer-events: none;
        }
      }
    }
  }
}