@import './colors';

.container {
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .content {
    height: calc(80vh);
    width: calc(80vw);
    border: 1px solid $primary-color;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    .content-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);

      .content-top {
        border-radius: 16px 0 0 0;
        height: 100%;
        background-image: url('/assets/img/portada.jpg');
        position: relative;

        .photo-container {
          position: absolute;
          bottom: -100px;
          left: calc(50% - 100px);

          .photo {
            border-radius: 50%;
            box-shadow: 2px 2px 4px #334;
          }
        }

      }

      .content-bottom {
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 36px;

        .title {
          font-size: 1.5rem;
          font-weight: 500;
          text-align: center;
          white-space: pre-wrap;
          color: $primary-color;
        }

        .subtitle {
          margin-top: 4px;
          font-size: 1.25rem;
          font-weight: 300;
          white-space: pre-wrap;
          color: $primary-color;
        }

        .icons {
          margin-top: 16px;
          a {
            margin: 0 .5rem;
            color: $dark-color;
            em {
              font-size: 1.15rem;

              &:hover { 
                color: $info-color;
                cursor: pointer;
              }
            }
          }
        }

      }
    }

    .content-right {
      max-height: 100%;
      max-width: 100%;
      overflow-y: scroll;

      box-sizing: content-box;
      padding: 40px;

      /* Tamaño del scroll */
      &::-webkit-scrollbar {
        width: 8px;
      }

    /* Estilos barra (thumb) de scroll */
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      /* Estilos track de scroll */
      &::-webkit-scrollbar-track {
        background: #e1e1e1;
      }

      &::-webkit-scrollbar-track:hover, 
      &::-webkit-scrollbar-track:active {
        background: #d4d4d4;
      }

    }

  }
}

@media only screen and (max-width: 600px) {

  .container {
  
    .content {
      border-radius: 16px;
      grid-template-columns: 1fr;
      height: calc(90vh);
      width: calc(95vw);

      .content-left {

        .content-top {

          .photo-container {
            display: none;
          }

        }
        

      }

    }
  }

  img {
    filter: grayscale(0);
  }

  .projects {
    grid-template-columns: 1fr;
  }
}