// $primary-color: #01579b;
// $light-color: #4f83cc;
// $dark-color: #002f6c;
// $secondary-color: #ffffff;

$primary-color: #455a64;
$light-color: #718792;
$dark-color: #1c313a;
$secondary-color: #ffffff;

$info-color: #0277bd;